<form action="/posts/update" method="POST">
    <input type="text" name="titme" placeholder="제목을 입력해주세요">
    <input type="text" name="content" placeholder="내용을 입력해주세요">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" value="글 쓰기">
</form>